<%= link_to "Log Out", login_path %>
<br>

<%= @teammate.first_name %> <%= @teammate.last_name %>
<ul><% @teammate.logs.each do |log| %>
	<li><%= log.mileage %></li>
<% end %>
</ul>

Add mileage

<%= form_for :log, url_for => teammate_path, :html => {:method => :post} do |f| %>
<%= select_date Date.today, :prefix => :date %>
<input type="number" class="form-control" placeholder="Mileage" aria-describedby="basic-addon1" <%= f.number_field :mileage %>
<%= f.hidden_field :teammate_id %>
<br>
<%= f.submit "Add Mileage", :class => "btn btn-default"%>
<% end %>

<br>

<%= link_to 'See mileage histroy', logs_path%>
<br>
<%= link_to 'Team Profile', team_path %>



